@use "../../abstracts/variables.scss" as var;

footer {
  background: var.$footer-bg;
}
.footer__wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 64px 61px;
  text-align: center;
  align-items: center;
}
.footerLogo {
  display: none;
}
.footer-menu {
  display: grid;
  row-gap: 24px;
  margin-bottom: 32px;
}
.social-link {
  display: flex;
  column-gap: 32px;
  justify-content: center;
}
.footer-notes {
  color: var.$grey;
  display: grid;
  row-gap: var.$gap8;
  a {
    text-decoration-line: underline;
    color: var.$grey;

    &:hover {
      text-decoration-line: underline;
      color: white;
    }
  }
}

.footer-menu-items li a:hover {
  transition: var.$transition-time;
  color: #e4cfa6;
}
@media (min-width: 768px) {
  .footer-menu-items {
    // display: flex;
    flex-direction: inherit;
    column-gap: 32px;
    justify-content: center;
    display: flex;
  }
  .footer__wrapper {
    padding: 64px 82px;
    position: relative;
  }
  .footerLogo {
    display: inherit;
    position: absolute;
    left: 82px;
    top: 32px;
  }
  .footer-menu {
    row-gap: 32px;
    margin-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .footer-menu-items {
    display: flex;
  }
}
