// .p-multiselect-items-wrapper:active {
//   .p-multiselect-trigger svg {
//     transform: rotate(-180deg);
//   }
// }

.filter .more-btn  {
  position: absolute;
  top: 50px;
  left: 40%;
}

@media (min-width: 1200px) {
  .filter .more-btn {
    position: initial;
  }
}



.dropdown-head span:first-child,
.p-multiselect-label,
.p-multiselect-item {
  font-family: "Jost Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: black !important;
  padding: 8px 0 8px 16px !important;
}

.dropdown-head,
.p-multiselect {
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-head span {
  padding: 0 16px;
  svg {
    //   padding: 8px 16px !important;
    //   width: auto !important;
    //   height: auto !important;
    color: #6c757d;
  }
}

.p-multiselect {
  height: 41px !important;
}
.p-multiselect-header {
  display: none !important;
}

.p-multiselect-label-container {
  text-overflow: ellipsis;
  width: 140px;
}

.filter {
  display: none;
  column-gap: 4px;

  .h2 {
    position: absolute;
    top: -60px;
  }

  .more-btn {
    margin-left: 12px;
  }
}

.filter__project {
  // display: flex;

  .mobile-filter__wrapper .mobile-filter__intro {
    position: inherit;
    transform: inherit;
    .h2 {
      display: none;
    }
  }

  .h2 {
    display: none;
  }
}

.dropdown-head {
  height: 41px !important;
}

// выпадашки

.p-multiselect:focus {
  box-shadow: inherit !important;
}

.p-multiselect-panel {
  margin-top: 4px !important;
  border-radius: inherit !important;
  .p-multiselect-items {
    padding: inherit !important;
    .p-multiselect-item {
      padding: 8px 16px !important;
      &:focus {
        box-shadow: inherit !important;
      }
      .p-checkbox {
        margin-right: 8px !important;
        &-box {
          border: 1px solid #f5deb2;
          background: inherit;
          width: 18px;
          height: 18px;
          border-radius: inherit;

          &:hover {
            border-color: #e4cfa6 !important;
          }

          .p-checkbox-icon.p-icon {
            width: 12px;
            height: 12px;
            color: black;
          }
        }
      }
      // .p-highlight {
      //   background: #F0F0F0 !important;
      // }
    }
  }
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  // background: #f0f0f0 !important;
  background: none !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  // border-color: #f0f0f0 !important;
  // background: #f0f0f0 !important;
  background: none !important;

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .filter {
    display: flex;
  }
}
