// .header-image {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   line-height: 0;
//   height: 584px;

//   .img {
//     position: absolute;
//     opacity: 0.8;
//     width: 100%;
//     min-height: 228px;
//     max-height: 584px;
//     object-fit: cover;


//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     width: 100%;
//     height: 100%;
//   }

//   h1 {
//     z-index: 1;
//   }
// }






// .header-image {
//   background-image: url(../../../../assets/img/header_image.png);
// }





.header-image {
  width: 100%;
  line-height: 0;


  img {
    opacity: .8;
    height: auto;
    width: 100%;
    min-height: 228px;
    max-height: 584px;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    bottom: 10%;
    left: 50%;
    margin: 0 16px;
    transform: translate(-50%, -40%);
  }
}

@media (min-width: 768px) {
  .header-image h1 {
    margin: 0 82px;
  }
}