// @use "../../abstracts/variables.scss" as var;
@use "../../../abstracts/variables.scss" as var;

.unit-image {
  height: 134px;
  display: flex;
  justify-content: space-between;
  background-size: cover;

  width: 100%;

  flex-direction: column;
  // transition: var.$transition-time;

  img {
    position: absolute;
    width: 100%;
    height: 134px;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;

      transition: var.$transition-time / 2 ;
  }

  &__label {
    font-family: Neutral Face;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    line-height: 0.9;
  }

  &__arrow {
    padding: 16px 16px 0 0;
    margin-left: auto;

    svg {
      transition: var.$transition-time / 2;
      width: 42px;
      height: 42px;
    }
  }
}

.unit-image:hover {
  transition: var.$transition-time / 2;

  img {
    opacity: inherit;
  }
  .unit-image__arrow svg {
    // transform-origin: 16px 16px;
    transform: rotate(45deg);
  }
}
@media (min-width: 768px) {
  .unit-image {
    height: 360px;

    img {
      opacity: 0.8;
      height: auto;
      max-width: 480px;

      :hover {
        opacity: inherit;
      }
    }

    &__label {
      font-size: 56px;
    }

    &__arrow {
      svg {
        width: 67px;
        height: 67px;
      }
    }
  }
}
