@use "../../../abstracts/variables.scss" as var;

.b {
  margin: 15px;
}
// .w {
//   height: 24px;
//   width: 24px;
// }
.more-btn {
  border: 2px solid var.$white;
  padding: 16px 29px;
  font-family: Neutral Face, sans-serif;
  font-size: 24px;
  font-weight: 400;
  background: none;
  color: white;
  width: -webkit-fill-available;
  transition: var.$transition-time;

  display: flex;
  // column-gap: 8px;
  align-items: center;
  justify-content: center;

  & span {
    padding-right: 24px;
    line-height: 0.8;
  }

  svg {
    transition: var.$transition-time;
  }

  &:hover {
    transition: var.$transition-time;
    background: white;
    color: black;
    svg {
      rotate: 45deg;
      path {
        fill: black;
      }
    }
  }
}

.filter__home .more-btn:hover svg {
  rotate: none;
}

.button {
  display: flex;
  column-gap: 8px;
  border: 2px solid var.$white;
  padding: 8px 32px;
  font-family: Neutral Face, sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: black;
  color: var.$white;
}

.btn-yellow {
  background: #f5deb2;
  color: black;
  border: 2px solid #f5deb2;

  font-size: 18px;
}

.btn-black {
  background: black;
  color: white;
  border: 2px solid black;
}

@media (min-width: 768px) {
  .more-btn {
    // width: auto;
    width: fit-content;
  }
}
