.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 228px;
  width: 100%;

  font-family: Jost Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}