@use "../../abstracts/variables.scss" as var;

.units {
  width: 100%;
  row-gap: 32px;


}
.units a:hover {
  .unit-image .unit-image__arrow svg {
    transition: var.$transition-time;
    transform: rotate(45deg);
   }
}

@media (min-width: 768px) {
  .units {
    display: grid;
    grid-template-columns: repeat(auto-fit, 480px);
    justify-content: space-evenly;
  }
}