.about-us {
  &__banner {
    margin-bottom: 48px;
  }
  &__info {
    margin: 0 16px;
    display: grid;
    row-gap: 48px;

    p {
      color: white;
    }

    div {
      display: grid;
      row-gap: 8px;

      h2 {
        margin-bottom: 16px;
      }
      p span {
        color: #f5deb2;
      }
    }
  }
}

.about-us__title {
  width: 100%;
  left: 50%;
  // transform: translateX(-50%);
  transform: translateX(-50%) translateY(-125%);
  position: absolute;
  // top: 115px;
  margin: 0 16px;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .about-us__title {
    // top: 419px;
    margin: 0 82px;
  }

  .about-us {
    &__banner {
      margin-bottom: 64px;
    }
    &__info {
      margin: 0 82px;
      row-gap: 32px;

      div {
        row-gap: 16px;

        h2 {
          margin-bottom: inherit;
        }
      }
    }
  }
}
