.apartments__banner .slick-slider {
  // position: relative;

  // .slick-arrow {
  //   display: none !important;
  // }

  .slick-list .slick-track {
    column-gap: inherit;
  }
  .slick-dots {
    bottom: 8px;

  //   li button:before {
  //     opacity: 0.45;
  //   }

  //   li.slick-active button:before {
  //     opacity: 1;
  //   }

  //   .slick-active button:before {
  //     opacity: 1;
  //   }
  }
}

.test {
  max-height: 584px;
  object-fit: cover;
}
