@use "../abstracts/variables.scss" as var;

// * {
//   outline: 1px solid red !important;
// }

body {
  background: #181818;
  color: var.$white;
}

a {
  color: var.$white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline var.$white;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

// .App {
//   max-width: 1440px;
//   margin: auto;
// }
main {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.slick-prev:before,
.slick-next:before {
  font-size: 0px !important;
}

.section {
  padding-bottom: 64px;
}

.home-properties .offer-items .slick-slider .slick-arrow:after {
  top: calc(50% - (2.5px / 3)) !important;
}

.header__wrapper {
  position: relative;
  left: 18px;
}

.slick-dots {
  display: flex !important;
  column-gap: 8px !important;
  justify-content: center;
  li {
    width: 12px !important;
    height: 12px !important;
    margin: inherit !important;

    button {
      width: 12px !important;
      height: 12px !important;
      padding: inherit !important;

      &::before {
        content: url("./../../assets/img/Point.svg") !important;
        line-height: 1 !important;
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

// slick-arrow popup
.popup-content .slick-slider .slick-arrow::before {
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
}
// &:hover {
//   .popup-content .slick-slider .slick-arrow::before {
//     opacity: 1;
//   }
// }
//

.pb-128 {
  padding-bottom: 128px;
}

// у емейла без подчеркивания
.email {
  color: #f5deb2;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 128px;
  }
}

@media (min-width: 1200px) {
  $padding: 5%;
  .apartments__banner .slick-slider {
    .slick-arrow {
      // display: flex !important;
      z-index: 10;
      :hover {
        opacity: 1;
      }
    }

    .slick-prev {

      // z-index: 1;
      padding: 15% 25%;
      &::before {
        content: url(../../assets/img/icon/icon-slide-banner-left.svg);
        position: absolute;
        left: $padding;
        // right: $padding;
      }
    }

    .slick-next {
      // position: absolute;

      padding: 15% 25%;
      &::before {
        content: url(../../assets/img/icon/icon-slide-banner-right.svg);
        position: absolute;
        right: $padding;
        // left: $padding;
      }
    }
  }
}

// @media (min-width: 1440px) {
//   $padding2: 620px;
//   .apartments__banner .slick-slider {
//     .slick-prev::before {
//       right: $padding2;
//     }
//     .slick-next::before {
//       left: $padding2;
//     }
//   } 

// }


.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: initial !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
