@use "../abstracts/variables.scss" as var;

// * {
//   outline: 1px solid red !important;
// }

body {
  background: #181818;
  color: var.$white;
}

a {
  color: var.$white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline var.$white;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

// .App {
//   max-width: 1440px;
//   margin: auto;
// }
main {
  max-width: 1440px;
  margin: auto;
}

.section {
  padding-bottom: 64px;
}

.header__wrapper {
  position: relative;
}

.apartments__banner .slick-slider {
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 8px;

    button:before {
      color: white;
      opacity: 0.75;
    }

    .slick-active button:before {
      opacity: 1;
    }
  }
}

.apartments__banner .slick-slider .slick-arrow {
  display: none !important;
}

.pb-128 {
  padding-bottom: 128px;
}

// у емейла без подчеркивания
.email {
  color: #F5DEB2;

  // :hover {
      
  // }
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 128px;
  }
}

@media (min-width: 1200px) {
  .apartments__banner .slick-slider .slick-arrow {
    display: flex !important;
  }

  .apartments__banner .slick-slider .slick-arrow:hover {
    opacity: 1;
  }

  .apartments__banner .slick-slider .slick-prev {
    // position: absolute;
    left: 50px;
    z-index: 1;
    padding: 20% 50% 20% 0;
  }
  .apartments__banner .slick-slider .slick-prev::before {
    content: url(../../assets/img/icon/icon-slide-banner-left.svg);
    // opacity: 1;
  }

  .apartments__banner .slick-slider .slick-next {
    // position: absolute;
    right: 50px;
    padding: 20% 0px 20% 50%;
  }
  .apartments__banner .slick-slider .slick-next::before {
    content: url(../../assets/img/icon/icon-slide-banner-right.svg);
    // opacity: 1;
  }
}
