@use "../abstracts/variables.scss" as var;

$size: 30px;
$width: 2px;

.btn-test:hover {
  transform-origin: 50px 20px;
  transform: rotate(45deg);
  // transition: 1s;
  svg {
    // transform-origin: center;
    // transition: 1s;
    path {
      transition: var.$transition-time;
      stroke: white;
      transform: rotate(45deg);
      // d: path("M16 24.2789L95.5581 24.279M95.5581 24.279L72.2747 0.995674M95.5581 24.279L72.2747 47.5624");
    }
  }

  // background-image: url(../../assets/img/icon/btn-icon-white-on-hower.svg);
}

.desk {
  display: none;
}
.button__arrow {
  position: absolute;
  background: #06070a;
  background-image: url(../../assets/img/icon/btn-icon-white-on-hower.svg);
  background-position: right;
  background-repeat: no-repeat;
  width: 6px;
  height: 12px;
  left: 10px;
  top: 6px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all var.$transition-time ease-in-out;
}
.button__arrow:before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  background: #06070a;
  left: -3px;
  bottom: 3px;
  transition: all var.$transition-time ease-in-out;
}
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.button__circle {
  background: url(../../assets/img/icon/btn-icon-yellow.svg) no-repeat center;
  // width: 24px;
  // height: 24px;
}
@media (min-width: 1200px) {
  .desk {
    display: inline !important;
  }
}

.AboutUs {
  margin: 0 16px;
  margin-bottom: 64px;
}
.about {
  &__pic {
    display: none;
  }
  &__text {
    margin-bottom: 32px;

    .main-text {
      color: #c2c2c2;
    }
  }
  &__text .h2 {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.services {
  margin: 0 16px 128px;

  &__pic {
    display: none;
  }
  &-text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding-right: 16px;
    display: flex;
    column-gap: 24px;

    transition: var.$transition-time;
    & > span {
      color: var.$grey;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    max-width: 628px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    // padding: 16px 0;
    padding: 16px 10px 16px 0;
    border-bottom: 1px solid var.$grey;
    cursor: pointer;
    // animation: arrowAnimation 0.8s;

    &:hover {
      transition: var.$transition-time;
      // animation: arrowAnimation 0.8s;

      .services__title span {
        color: #f5deb2;
      }

      // $size: 30px;
      // $width: 2px;

      .arrow {
        // transform: rotate(0deg);
        // transition: 0.8s;
        animation: arrowAnimation 4s;

        // span {
        //   width: $size * 2;
        // }

        & span,
        &:before,
        &:after {
          background: #fff;
        }
      }

      &:active {
        .arrow span {
          width: 106px;
        }
      }
    }
  }

  @keyframes arrowAnimation {
    0% {
      transform: rotate(-45deg);
      width: $size;
    }
    50% {
      transform: rotate(0deg);
      width: $size;
    }
    100% {
      transform: rotate(0deg);
      width: $size * 2;
    }
  }

  /***************
 * Arrow 1
 ***************/
  .arrow {
    // $size: 30px;
    // $width: 2px;

    transform: rotate(-45deg);

    cursor: pointer;
    display: block;
    width: $size / 1.414;
    height: $size / 1.414 * 2;
    position: relative;

    & span,
    &:before,
    &:after {
      background: #f5deb2;
      content: "";
      display: block;
      width: $size;
      height: $width;
      position: absolute;
      top: calc(50% - (#{$width} / 2));
    }

    & span {
      width: $size + 15px;
    }

    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }

    & span {
      transform: rotate(1deg);
    }

    // &:hover {
    //   transform: rotate(0deg);
    //   transition: 0.8s;
    //   span {
    //     width: $size * 2;
    //   }
    // }

    @each $direction in "left" "right" {
      &.arrow--#{$direction} {
        & span,
        &:before,
        &:after {
          #{$direction}: 0;
          transform-origin: #{$direction} 50%;
        }

        &:before,
        &:after {
          transition: #{$direction} 0.3s 0.05s;
        }

        & span {
          transition: width 0.3s, #{$direction} 0.3s 0.05s;
        }
      }
    }
  }

  .filter__home .more-btn:hover svg {
    rotate: inherit;
  }
}

@media (min-width: 768px) {
  .about {
    display: grid;
    gap: 28px;
    &__cont {
      max-width: 628px;
      // row-gap: 48px;
      margin-bottom: 48px;
    }
    &__pic {
      display: flex;
    }
    &__text .h2 {
      padding-top: 32px;
      // padding-bottom: 16px;
    }
  }
}

.header-image {
  position: relative;
  .test {
    top: 50%;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  .services {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    &__pic {
      display: flex;
    }
  }
  .AboutUs {
    margin: 0 82px 128px;
  }
}

@media (min-width: 1200px) {
  .AboutUs {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
  }
  .about__cont {
    margin-bottom: auto;
  }

  .services {
    margin: 0 82px 128px;

    &-item {
      width: 628px;
    }
  }
}
