@use "../abstracts/variables.scss" as var;

.btn-test {
  // background: url(../../assets/img/icon/btn-icon-yellow.svg) no-repeat center;
  // width: 42px;
  // height: 42px;
  // display: flex;
  // background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='97' height='39' viewBox='0 0 97 39' fill='none'>
  // <path d='M60 37.375L95.75 1.625M95.75 1.625H62.8224M95.75 1.625V34.5526' stroke='#F5DEB2' stroke-width="2"/>
  // </svg>");
}
.btn-test:hover {
  transform-origin: 50px 20px;
  transform: rotate(45deg);
  // transition: 1s;
  svg {
    // transform-origin: center;
    // transition: 1s;
    path {
      transition: 0.8s;
      stroke: white;
      transform: rotate(45deg);
      // d: path("M16 24.2789L95.5581 24.279M95.5581 24.279L72.2747 0.995674M95.5581 24.279L72.2747 47.5624");
    }
  }

  // background-image: url(../../assets/img/icon/btn-icon-white-on-hower.svg);
}

.desk {
  display: none;
}
.button__arrow {
  position: absolute;
  background: #06070a;
  background-image: url(../../assets/img/icon/btn-icon-white-on-hower.svg);
  background-position: right;
  background-repeat: no-repeat;
  width: 6px;
  height: 12px;
  left: 10px;
  top: 6px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.button__arrow:before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  background: #06070a;
  left: -3px;
  bottom: 3px;
  transition: all 0.2s ease-in-out;
}
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.button__circle {
  background: url(../../assets/img/icon/btn-icon-yellow.svg) no-repeat center;
  // width: 24px;
  // height: 24px;
}
@media (min-width: 1200px) {
  .desk {
    display: inline !important;
  }
}

.AboutUs {
  margin: 0 16px;
  margin-bottom: 64px;
}
.about {
  &__pic {
    display: none;
  }
  &__text {
    margin-bottom: 32px;

    .main-text {
      color: #c2c2c2;
    }
  }
  &__text .h2 {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.services {
  margin: 0 16px 128px;

  &__pic {
    display: none;
  }
  &-text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding-right: 16px;
    display: flex;
    column-gap: 24px;
    & > span {
      color: var.$grey;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    max-width: 628px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    padding: 16px 0;
    border-bottom: 1px solid var.$grey;

    .arrow path {
      stroke: #f5deb2;
    }
  }
}

.services-item:hover {
  transition: 3s;

  .services__title span {
    color: #f5deb2;
  }
  .services__btn {
    // transition: 3s;
    // content: url(../../assets/img/icon/Status=On-hover.svg);

    // opacity: inherit;
    // position: absolute;
    svg {
      transition: 0.8s;
      transform: rotate(45deg);
      path {
        stroke: white;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    display: grid;
    gap: 28px;
    &__cont {
      max-width: 628px;
      // row-gap: 48px;
      margin-bottom: 48px;
    }
    &__pic {
      display: flex;
    }
    &__text .h2 {
      padding-top: 32px;
      // padding-bottom: 16px;
    }
  }
}

@media (min-width: 992px) {
  .services {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    &__pic {
      display: flex;
    }
  }
  .AboutUs {
    margin: 0 82px 128px;
  }
}

@media (min-width: 1200px) {
  .AboutUs {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
  }
  .about__cont {
    margin-bottom: auto;
  }

  .services {
    margin: 0 82px 128px;

    &-item {
      width: 628px;
    }
  }
}
