@use '../../abstracts/variables.scss' as var;

.register-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  
  width: 100%;
  max-width: 628px;

  // margin: 0;
  row-gap: 8px;

  padding-top: 8px;

  p a {
    color: var.$accent-yellow;
  }
  p a:hover {
    color: var.$accent-yellow-hover;
  }

  & > .main-text {
    padding-bottom: 24px;

    a {
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .register-form {
    padding-top: 32px;
  }
  .register-form > .main-text {
    padding-top: 24px;
  }
}


